@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.fund_analysis_chart {
  :global {
    .card {
      margin-bottom: 15px;
    }
  }
}
.title {
  h1, h2 {
    display: inline-block;
    color: $title-black-color;
    font-weight: 500;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    margin-left: 25px;
    font-size: 36px;
  }
}
