$white-color: #fff;
$grey-light: #f6f6f6;
$gradient: linear-gradient(rgba(255,255,255,0.87), rgba(201,255,246,0.5), rgba(194,187,239,0.5));
$base-font-family: "Pingfang SC-Regular", "Open Sans", "Lantinghei SC", "Microsoft Yahei Light", "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$base-font-weight: 300;
$base-font-size: 18px;
$navFontColor: #3D5673;
$pageFootColor: #474457;
