@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.item {
  font-size: 0;
}

.name {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  padding: 0 6px;
  font-size: 14px;
  line-height: 36px;
  color: $main-font-color;
}

.slider_wrapper {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding: 2px 6px;

  :global {
    .ant-slider {
      .ant-slider-track {
        background-color: $blue-grey-color;
      }

      &:hover .ant-slider-track {
        background-color: $blue-grey-color;
      }

      .ant-slider-handle {
        border-color: $blue-grey-color;
      }
    }
  }
}

.ratio_wrapper {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  padding: 4px 0;
  font-size: 12px;

  .input {
    width: 60px;
    color: $main-font-color;
    border-radius: 0;
    border-color: $blue-grey-color;
    :global {
      .ant-input-number-handler-wrap, .ant-input-number-handler-up, .ant-input-number-handler-down {
        border-color: $blue-grey-color;
      }
    }
  }

  > span {
    padding-left: 4px;
  }
}

.delete_wrapper {
  display: inline-block;
  vertical-align: top;
  width: 10%;
  padding: 10px 6px;
}
