@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.tableDiv {
  padding-bottom: 30px;
}

.pagination {
  display: table;
  margin: 0 auto;
}

.operation {
  img {
    cursor: pointer;
  }
}

:global {
  .ant-table-tbody > tr > td {
    cursor: pointer;
  }
}

