@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.searchDiv {
  display: inline-block;
  vertical-align: bottom;
  float: right;
  padding-top: 20px;
  @include clear-fix();
}

.searchInput {
  //float: right;
  //margin-left: 150px;
  //@include vertical-align();
}
