.steps_content {
  min-height: 400px;
}
.custom_option :global .ant-input-number {
  width: 60px;
}
.routeSelect :global .ant-radio-button-wrapper {
  margin: 0 150px;
  text-align: center;
  width: 160px;
  height: 140px;
  padding: 6px;
  border-width: 1px;
}
.routeSelect :global .ant-radio-button-wrapper:first-child {
  border-radius: 0;
}
.routeSelect :global .ant-radio-button-wrapper:last-child {
  border-radius: 0;
}
.steps :global .ant-steps-head {
  background-color: #F9FAFB;
}
.steps :global .ant-steps-item.ant-steps-status-wait .ant-steps-head-inner {
  background-color: #F9FAFB;
}
.steps :global .ant-steps-title {
  background-color: #F9FAFB;
}
.decentralization :global .ant-radio-button-wrapper {
  font-size: 10px;
  text-align: center;
  width: 110px;
  height: 108px;
  padding: 4px;
  margin: 0 10px;
  border-width: 1px;
}
.decentralization :global .ant-radio-button-wrapper:first-child {
  border-radius: 0;
}
.decentralization :global .ant-radio-button-wrapper:last-child {
  border-radius: 0;
}
.stepTitle {
  margin: 50px 0;
  font-size: 1.3em;
  font-weight: bold;
}
.earnRiskTargetStyle :global .ant-slider-step .ant-slider-dot:last-child {
  display: none;
}
.selectWeight :global .ant-radio-wrapper {
  display: block;
  font-size: 14px;
}
.selectWeight :global .ant-radio-group {
  margin: 10px 0;
}
.strategyClassify :global .ant-checkbox-group {
  margin: 10px 0;
}
.strategyClassify :global .ant-checkbox-wrapper {
  font-size: 14px;
}
.weight_left,
.weight_right {
  display: inline-block;
  vertical-align: top;
}
.weight_left {
  width: 600px;
}
.weight_right {
  width: 300px;
}
.section {
  margin-bottom: 40px;
  font-size: 14px;
}
.classifyLabel {
  display: block;
  color: #9FAEC0;
  font-size: 12px;
}
.fundListTitle {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
}
.contentRetract {
  margin-left: 15px;
}
.fund_list {
  display: inline-block;
  width: 31%;
  margin: 0 1% 30px;
}
.fund_list .fund_item {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}
.fund_list :global .FreeScrollbar-container {
  padding: 10px;
}
.fund_list :global .ant-checkbox {
  vertical-align: middle;
}
.fund_list :global .ant-checkbox-group-item {
  display: block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}
