@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.totalInfoDiv {
  height: 150px;
}

.managerNameDiv {
  width: 479px;
  height: 150px;
  display: inline-block;
  background-color: $card-background;
  margin-right: 15px;
  padding: 12.5px;
  vertical-align: top;
}

.managerPhoto {
  width: 120px;
  height: 125px;
  background-color: $grey-light;
  display: inline-block;
}

.managerInfo {
  padding-left: 23px;
  width: 250px;
  display: inline-block;
  vertical-align: top;
}

.managerName {
  font-size: 18px;
  font-weight: 500;
  color: $main-font-color;
  padding-bottom: 10px;
}

.managerOtherInfo {
  font-size: 12px;
  color: $main-font-color;
  padding-bottom: 8px;
}

.fundScaleDiv {
  width: 217px;
  height: 150px;
  display: inline-block;
  background-color: $card-background;
  margin-right: 15px;
  padding: 20px;
  vertical-align: top;
}

.divTitle {
  color: $main-font-color;
  font-size: 16px;
  padding-bottom: 12px;
}

.fundNumber {
  color: $main-font-color;
  font-size: 48px;
  font-weight: 400;
}

.numberUnit {
  color: $main-font-color;
  font-size: 12px;
}

.fundReturnDiv {
  width: 234px;
  height: 150px;
  display: inline-block;
  background-color: $card-background;
  padding: 20px;
  vertical-align: top;
}

.introductionDiv {
  height: 250px;
  margin-top: 15px;
}

.infoChartDiv {
  width: 320px;
  height: 250px;
  display: inline-block;
  background-color: $card-background;
  margin-right: 15px;
}

.managerIntroDiv {
  width: 625px;
  height: 250px;
  display: inline-block;
  background-color: $card-background;
  padding: 20px;
  vertical-align: top;
}

.managerIntro {
  padding-top: 20px;
  padding-left: 12px;
  font-size: 14px;
  color: $main-font-color;
}

.fundHistoryDiv {
  height: auto;
  margin-top: 15px;
  background-color: $card-background;
  padding: 20px;
}

.fundPerformance {
  height: 300px;
  margin-top: 15px;
}

.performanceLeft {
  width: 621px;
  height: 300px;
  display: inline-block;
  background-color: $card-background;
  //padding: 20px;
  vertical-align: top;
  margin-right: 18px;
}

.performanceRight {
  width: 319px;
  height: 300px;
  display: inline-block;
  background-color: $card-background;
  //padding: 20px;
  vertical-align: top;
}

.fundYieldTrend {
  height: 313px;
  margin-top: 15px;
  background-color: $card-background;
}

.previousFundManagerDiv {
  height: 263px;
  margin-top: 15px;
  background-color: $card-background;
  padding: 20px;
}

.managerPerformanceDiv {
  height: 313px;
  margin-top: 15px;
}

.previousPerformance {
  width: 473px;
  height: 300px;
  display: inline-block;
  background-color: $card-background;
  //padding: 20px;
  vertical-align: top;
  margin-right: 14px;
  padding: 20px;
}

.integratedPerformance {
  width: 473px;
  height: 300px;
  display: inline-block;
  background-color: $card-background;
  //padding: 20px;
  vertical-align: top;
  padding: 20px;
}

.networkChart {
  height: 500px;
  margin-top: 15px;
  background-color: $card-background;
  padding: 20px;
}

.container {
  :global {
    .card {
      margin-bottom: 15px;
      width: 100%;
    }
    .ant-tabs {
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      zoom: 1;
      width: 100%;
      color: rgba(0, 0, 0, 0.65);
    }
  }
}

.section {
  display: inline-block;
  width: 50%;
  font-size: 0;
  .sectionTitle {
    margin-bottom: 10px;
    color: $blue-grey-color;
    font-size: 12px;
    font-weight: 200;
  }
}
