@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.report_body {
  height: auto;
  padding: 50px;
  background-color: $white-color;
  text-align: center;
  //border: solid 1px $card-border-color;

  h1 {
    color: $main-font-color;
    font-size: 30px;
    font-weight: 400;
  }

  h3 {
    padding-top: 15px;
    color: $main-font-color;
    font-size: 12px;
  }
}

#grade_row {
  padding-top: 30px;
  text-align: center;
  color: $blue-grey-color;
}

.numberStyle {
  font-size: 30px;
  color: $sub-font-color;
}

.section_1 {
  width: 100%;
  padding-top: 40px;
  text-align: left;

  .left {
    display: inline-block;
    margin-right: 118px;
    width: 339px;
  }

  .right {
    display: inline-block;
    vertical-align: top;
    padding-top: 50px;
    width: 400px;

    //table {
    //  width: 100%;
    //  font-size: 12px;
    //
    //  tr {
    //    height: 30px;
    //
    //    th:last-child {
    //      padding-bottom: 10px;
    //      padding-left: 50px;
    //      text-align: left;
    //      font-weight: 400;
    //      color: $blue-grey-color;
    //    }
    //
    //    td:first-child {
    //      text-align: right;
    //      font-size: 14px;
    //      color: $main-font-color;
    //    }
    //
    //    td:last-child {
    //      padding-left: 50px;
    //      text-align: left;
    //      font-size: 14px;
    //      color: $blue-grey-color;
    //    }
    //  }
    //}
  }
}

.section_2 {
  width: 100%;
  padding-top: 40px;
  text-align: left;

  p {
    padding-left: 12px;
    font-size: 16px;
    color: $main-font-color;
  }
}

.section_3 {
  width: 100%;
  padding-top: 40px;
  text-align: left;

  table {
    width: 100%;
    text-align: center;
    .tr_num {
      font-size: 30px;
      font-weight: 400;
      color: $main-font-color;
    }
    .tr_name {
      font-size: 12px;
      color: $main-font-color;
    }
  }
}

.section_4 {
  width: 100%;
  padding-top: 40px;
  text-align: left;

  table {
    width: 100%;
    font-size: 14px;

    tr {
      height: 30px;
      td:first-child {
        text-align: right;
        color: $main-font-color;
      }

      td:last-child {
        padding-left: 30px;
        text-align: left;
        color: $blue-grey-color;
      }

      td span {
        color: $main-font-color;
        font-weight: 400;
      }
    }
    //.tr_title {
    //     text-align: right;
    //     color: $main-font-color;
    //   }
    //   .tr_content {
    //     padding-left: 30px;
    //     text-align: left;
    //     color: $blue-grey-color;
    //   }
  }
}

.section_5 {
  width: 100%;
  padding-top: 40px;
  padding-left: 12px;
  text-align: left;

  .table {
    padding-top: 25px;
  }
}

.section_6 {
  width: 100%;
  padding-top: 40px;
  padding-left: 12px;
  text-align: left;

  .chart {
    display: inline-block;
    width: 500px;
    margin-right: 30px;
  }

  .table {
    display: inline-block;
    vertical-align: top;
    width: 300px;

    table {
      width: 100%;
      font-size: 12px;

      tr {
        height: 30px;
        th:first-child {
          padding-bottom: 10px;
          text-align: right;
          font-weight: 400;
          color: $blue-grey-color;
        }

        th:last-child {
          padding-bottom: 10px;
          padding-left: 50px;
          text-align: left;
          font-weight: 400;
          color: $blue-grey-color;
        }

        td:first-child {
          text-align: right;
          font-size: 14px;
          color: $main-font-color;
        }

        td:last-child {
          padding-left: 50px;
          text-align: left;
          font-size: 14px;
          color: $blue-grey-color;
        }
      }
    }
  }

}

.section_7, .section_8, .section_9, .section_10 {
  width: 100%;
  padding-top: 40px;
  padding-left: 12px;
  text-align: left;
}

.section {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 0 20px;
  font-size: 0;

  .section_title {
    margin-bottom: 10px;
    color: $blue-grey-color;
    font-size: 12px;
    font-weight: 200;
  }
}
