@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.title {
    color: $main-font-color;
    font-size: 48px;
    font-weight: 500;
}

.list_div {
  margin-top: 30px;
}

.operation {
  button {
    padding-right: 10px;
    color: $sub-font-color;
    background-color: transparent;
    cursor: pointer;
  }
}

.listWarning {
  :global {
    .anticon {
      //float: right;
      color: $warning-color;
    }
  }
}

.warning_icon {
  margin-left: 5px;
  color: $warning-color;
}
