@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.divHeader {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400 ;
  color: $main-font-color;
  border-left: solid 2px $button-background;
  padding-left: 10px;
}
