@import "./assets/scss/variables";
@import "./assets/scss/base";
@import "./assets/scss/mixin";

html {
  :global {
    .baseBody {
      background: $background-color;
      width: 100%;
      min-height: 100%;
      height: 100%;
    }

    .container {
      width: 960px;
      margin: 0 auto;
      @include clear-fix();
    }

    .card {
      background-color: $card-background;
      padding: 20px;

      > h3 {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
        color: $main-font-color;
        font-size: 16px;

        //&:before {
        //  content: '';
        //  display: inline-block;
        //  vertical-align: top;
        //  width: 4px;
        //  height: 24px;
        //  margin-right: 8px;
        //  background-color: $sub-font-color;
        //}
      }
    }

    .loadingWrapper {
      width: 100%;
      padding: 30px;
      text-align: center;
      background-color: $white-color;
    }

    // ant design
    .ant-tabs-bar {
      border-bottom: none;
    }
    .ant-tabs-tab {
      color: $main-font-color;
      font-size: 14px;
    }
    .ant-table-thead {
      > tr > th {
        color: $main-font-color;
        //background-color: #edf3fa;
      }
    }
    //.anticon {
    //  color: $warning-color;
    //}

    @media (max-width: 960px) {
      .container {
        width: 100%;
      }
    }
  }
}
